<!DOCTYPE html>
<html>
  <head>
    <title>SamoleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheets">

  <body>
    <header>
      <h1 class="headline">All lists</h1>
    </header>
    <nav>
      <ul class="nav-list">
        <li class="nav-list-item">
          <%= link_to "top", top_path %>
        </li>

        <li class="nav-list-item">
          <%=link_to "top-lists", todolists_path %>
        </li>

        <li class="nav-list-item">
          <%= link_to "new-list", todolists_new_path %>
        </li>
      </ul>
    </nav>
    <main>
    <%= yield %>
    </main>
  </body>
</html>
